@model List<AnywayStore.Models.ClassEntityUsersProducts>

@{
    ViewBag.Title = "Cart Page";
    decimal total = 0;
}

@Scripts.Render("~/bundles/jquery")

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Your cart</h4>
        <div class="site-pagination">
            <a href="@Url.Action("Index", "Home")">Home</a> /
            <a href="@Url.Action("Index", "Cart")">Your cart</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="size-th">Size</th>
                                    <th class="total-th">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    var imagenUrl = "~/img/product/" + product.EntityProducts.IdProduct.ToString() + "/1.jpg";
                                    <tr>
                                        <td class="product-col">
                                            <img src="@Url.Content(imagenUrl)" height="73" alt=""> <!--imagen-->
                                            <div class="pc-title">
                                                <h4>@product.EntityProducts.Name</h4> <!--Descripcion-->
                                                <p>$<span>@product.EntityProducts.Price</span></p> <!--precio-->
                                            </div>
                                        </td>
                                        <td class="quy-col">
                                            <div class="quantity"> <!--cantidad-->
                                                <div class="pro-qty">
                                                    <input type="text" value="@product.Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="size-col"><h4>Size @product.EntitySizes.Name.ToUpper()</h4></td> <!--size-->
                                        <td class="total-col"><h4>$<span>@(product.Quantity * product.EntityProducts.Price)</span></h4></td> <!--total (precio * cantidad)-->
                                        @{ total += product.Quantity * product.EntityProducts.Price; }
                                    </tr>
                                }
                            </tbody>
                            </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span>$@total</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">
                <form class="promo-code-form">
                    <input type="text" placeholder="Enter promo code">
                    <button>Submit</button>
                </form>
                <a href="@Url.Action("Checkout", "Cart")" class="site-btn">Proceed to checkout</a>
                <a href="@Url.Action("Index", "Products")" class="site-btn sb-dark">Continue shopping</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->
<!-- Related product section -->
<section class="related-product-section">
    <div class="container">
        <div class="section-title text-uppercase">
            <h2>Continue Shopping</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-new">New</div>
                        <img src="~/img/product/2.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Black and White Stripes Dress</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/5.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/9.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/1.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related product section end -->

@Scripts.Render("~/bundles/carousel")

<script>
    $(".dec").click(function () {
        var row = $(this).parent().parent().parent().parent();
        CalculateTotal(row, parseInt($(row).find("input").val()) - 1)
    });

    $(".inc").click(function () {
        var row = $(this).parent().parent().parent().parent();
        CalculateTotal(row, parseInt($(row).find("input").val()) + 1)
    });

    function CalculateTotal(row, quantity) {
        if (quantity >= 0) {
            var price = parseFloat($(row).find("p span").text());
            debugger
            $(row).find(".total-col h4 span").text((price * quantity).toFixed(2));

            var subtotales = $(".total-col h4 span");
            $(".total-cost span").text("0");
            $.each(subtotales, function () {
                debugger
                $(".total-cost span").text(
                    (parseFloat($(".total-cost span").text()) + parseFloat($(this).text())).toFixed(2)
                )
            });
            $(".total-cost span").text("$" + $(".total-cost span").text());
        }
    }
</script>