@model AnywayStore.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.measurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.measurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.style)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.style)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
