@{
    ViewBag.Title = "Category Page";
}

@Scripts.Render("~/bundles/jquery")

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Category Page</h4>
        <div class="site-pagination">
            <a href="@Url.Action("Index", "Home")">Home</a> /
            <a href="@Url.Action("Index", "Products")">Shop</a> 
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title">Categories</h2>
                    <ul class="category-menu">
                        @Html.Action("Categories", "Products")
                    </ul>
                </div>
                <div class="filter-widget">
                    <h2 class="fw-title">Brand</h2>
                    <ul class="category-menu">
                        @Html.Action("Brands", "Products")
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row" id="Products">
                    @Html.Action("Products", "Products", new { find = ViewBag.Find })
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->

@Scripts.Render("~/bundles/carousel")