@model AnywayStore.Models.ClassEntityProducts

@{
    ViewBag.Title = "Product Page";
    var imageUrl = "~/img/product/" + Model.IdProduct.ToString() + "/";
}

@Scripts.Render("~/bundles/jquery")

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Product Page</h4>
        <div class="site-pagination">
            <a href="@Url.Action("Index", "Home")">Home</a> /
            <a href="@Url.Action("Index", "Products")">Shop</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- product section -->
<section class="product-section">
    <div class="container">
        <div class="back-link">
            <a href="@Url.Action("Index", "Products")"> &lt;&lt; Back to Category</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" src="@Url.Content(imageUrl + "1.jpg")" alt="">
                </div>
                <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                    <div class="product-thumbs-track">
                        @for (var i = 0; i < ViewBag.Images.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="pt active" data-imgbigurl="@Url.Content(imageUrl + ViewBag.Images[i])"><img src="@Url.Content(imageUrl + ViewBag.Images[i])" alt=""></div>
                            }
                            else
                            {
                                <div class="pt" data-imgbigurl="@Url.Content(imageUrl + ViewBag.Images[i])"><img src="@Url.Content(imageUrl + ViewBag.Images[i])" alt=""></div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">@Model.Name</h2>
                <h3 class="p-price">@Model.Price</h3>
                <h4 class="p-stock">
                    Available:
                    @if (@Model.Stock > 0)
                    {
                        <span>In Stock</span>
                    }
                    else
                    {
                        <span>Out Of Stock</span>
                    }
                </h4>
                <div class="p-rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o fa-fade"></i>
                </div>
                <div class="p-review">
                    <a href="">3 reviews</a>|<a href="">Add your review</a>
                </div>
                <div class="fw-size-choose">
                    <p>Size</p>
                    @for (var i = 0; i < Model.EntityProductsSizes.Count; i++)
                    {
                        <div class="sc-item">
                            @if (i == 0)
                            {
                                <input type="radio" name="sc" id="@Model.EntityProductsSizes[i].EntitySizes.Name.ToLower()" checked>
                            }
                            else
                            {
                                <input type="radio" name="sc" id="@Model.EntityProductsSizes[i].EntitySizes.Name.ToLower()">
                            }
                            <label for="@Model.EntityProductsSizes[i].EntitySizes.Name.ToLower()">@Model.EntityProductsSizes[i].EntitySizes.Name.ToUpper()</label>
                        </div>
                    }
                </div>
                <div class="quantity">
                    <p>Quantity</p>
                    <div class="pro-qty"><input type="text" value="1"></div>
                </div>
                <button id="cart" class="site-btn">Add to Cart</button>
                <div id="accordion" class="accordion-area">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">
                                <p>@Model.Information</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingTwo">
                            <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="panel-body">
                                <img src="~/img/cards.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingThree">
                            <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="panel-body">
                                <h4>7 Days Returns</h4>
                                <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-sharing">
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
    <div class="container">
        <div class="section-title">
            <h2>RELATED PRODUCTS</h2>
        </div>
        <div class="product-slider owl-carousel">
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">New</div>
                    <img src="~/img/product/2.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>Black and White Stripes Dress</p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/3.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/4.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/6.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RELATED PRODUCTS section end -->

@Scripts.Render("~/bundles/carousel")

<script>
    var product = @Html.Raw(Json.Encode(Model));
    var user = @Html.Raw(Json.Encode(ViewBag.Users));

    $(document).ready(function () {
        if (user.EntityRoles.IdRol != 2) {
            $("#cart").prop("disabled", true);
        }
    });

    $("#cart").click(function () {
        var size = $(".sc-item input:checked").attr('id');
        var quantity = $(".quantity input").val()

        $.ajax({
            url: '@Url.Action("Add","Cart")',
            type: 'POST',
            data: {
                entityProducts: product,
                size: size,
                quantity: quantity
            },
            beforeSend: function () {
                $("#cart").prop('disabled', true);
            },
            success: function (cart) {
                $("#cart").text("ADDED");
                $("#cart").css("background", "#f987b2");

                $('.user-panel').find("span").text(
                    parseInt($('.user-panel').find("span").text()) + 1
                )
            },
            error: function () {
                alert("An error occurred")
                $("#cart").prop('disabled', false);
            }
        });
    });
</script>